@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Poiret+One&display=swap');
@media (min-width: 1025px){

    html{
        scroll-behavior: smooth;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    body{
        
        margin: 0;
        padding:0;
        background-image: url("../images/Background/dood.jpg");
        background-position: center;
        background-size: cover;
        background-color: rgb(255, 255, 255);
    
    }   

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #wrapper{
        margin-top: -10em;
        padding:20px;
        margin: 0 auto;
        width: 1000px;
        background-color: rgb(255, 255, 255);

    }
    .container{
        /* background-color: rgb(6, 160, 83); */
        background-color: rgb(255, 255, 255);
        margin:10px;
        /* border-left: 1px solid rgb(51, 50, 50); */
    }
    .nav{
        position: relative;
         
        /* background-color: pink; */
    }
    .nav ul li{
        
        display: inline-block;
        font-size: 20px;
        margin-left: 20px;
    }
    .nav ul li a{
        
        float: left;
        font-weight: 600;
        font-family: 'Antic Slab', serif;
        font-family: 'Poiret One', cursive;
        font-size: 20px;
        margin:.5px;
        padding:10px;
        color: rgb(14, 12, 12);
        text-decoration: none;
        transition: background-color .3s linear;
    }
    .nav ul li a:hover{
        border-bottom: px solid rgb(51, 50, 50);
        border-radius: 3px;
        color:rgb(255, 255, 255);
        cursor: pointer; 
        background-color:  rgb(22, 120, 211);
        /* border-bottom: 1px solid rgb(51, 50, 50);  */
        /* animation-name: fadein;
        animation-duration: 1s; */
    }


    span{
        float: right;
        margin-top: -6em;
    }
    #logo{
        width: 7em;
        margin-right: 2em;
    }
    .author{
        /* background-color: cadetblue; */
        margin-top: -1em;
        margin: 0 auto;
        padding: 25px;
        position: relative;
        display: flex;
        /* border-bottom:2px solid rgb(43, 43, 43); */
        width:1000px;
        
    }

    .image{
        margin-top: 4em;
        position: relative;
        /* display: inline-block; */
        /* width: 500px;
        background-color: aquamarine; */
    }
    .image img{
        padding: 20px;
        width: 15em;
        /* background-color: cornflowerblue; */
    }
    .aboutAuth{
        color:rgb(24, 23, 23);
        font-family: 'Antic Slab', serif;
        /* margin-top: 1em; */
        font-size: 20px;
        padding: 10px;
        
        width: 600px;
        /* background-color: aquamarine; */
    }
    .aboutAuth p{
        line-height: 27px;
        letter-spacing: .1px;
        font-weight: 200;
        text-align: justify;
        text-indent: 50px;
        background-color: rgb(221, 244, 255);
        padding:15px;
        width: 30em;
        margin-top: -.5em;
        box-shadow: 6px 5px 5px .5px rgb(72, 162, 203);
        /* border-left:2px solid rgb(73, 73, 73);  */
   
    }
    .email{
        
        float:right;
        color:white;
        margin-top: 2em;
        padding:15px;
        width: 10em;
        border-radius: 5px;
        outline: none;
        border-style: none;
        background-color:  rgb(22, 120, 211);
        transition: background-color .3s linear;
    }
    h1{
        color: rgb(71, 70, 70);
        /* background-color: red; */
        text-align: center;
        font-size: 2em;
        position: relative;
        

    }
    .email:hover{
        cursor: pointer;
        box-shadow:1px 2px 6px 1px rgba(0,0,0,0.5)
    }
    h5{
        text-align: center;
        font-size: 15px;
    }
    .aboutAuth a{
        color:rgb(7, 100, 240);
        text-decoration: none;
    }
    .aboutAuth a:hover{
        text-decoration: underline; 
    }
    #wave{
        width: 2.5em;
        height:2.5em;
        padding:10px;
        position: relative;
        float: right;
        margin-top: .5em;

    }
    .intro{
        position: relative;
        display: flex;
        /* background-color: blue; */
        padding:0;
    }
    #about{
        /* background-color: red; */
        margin-top: 15em;
       
        width: 1000px;
        height:130px;

    }
    .aboutContainer{
        margin-top: -10em;

        /* background-color: aquamarine; */
        /* margin-top:10eem; */
        /* margin-bottom: 50px; */

    }
    .aboutContainer h2{
        padding-top: 10px;
        font-size: 35px;
    }
    .authimage{
        margin-top: 6em;
        background-color: rgb(255, 255, 255);

    }
    .aboutwrapper{
        /* background-color: rgb(33, 64, 92); */
        display: flex;
    }
    .abouttext{
       margin-top: 8em;
        font-family: 'Antic Slab', serif;
        letter-spacing: .1px;
        font-weight: 200;
        text-align: justify;
        text-indent: 50px;
        font-size: 20px;
        /* background-color: rgb(221, 244, 255); */
        padding:15px;
        width: 60em;    
    }
    .abouttext p{
        background-color: rgb(255, 255, 255);
        margin-top:-8em;
        padding:10px;
        line-height: 30px;
        border-left:2px solid rgb(7, 167, 74);
    }
    .abouttext a{
        text-decoration: none;
        color:rgb(22, 120, 211);
    }
    .abouttext a:hover{
        text-decoration:underline;
    }
    .authimage{
      float: right;

    }
    .authpic{
        margin-top: 5em;
        width: 300px;
        height: 375px;
        /* margin-left: 10em; */
        /* background-color: red; */

        
    }

    #about #up{
        float: right;
        margin-right: 10px;
        text-align: justify;
        text-orientation: upright;
        font-family: 'Antic Slab', serif;
        color: rgb(39, 39, 39);
        font-weight: 600;
    }
    #back{
        margin-top:-20px;
        margin-right: 2px;
    }
    #up{
        margin-top: 2em;
    }
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
      
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      
      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      .skills{
        width: 500px;
        float: left;
        margin-left: -2em;
        
        /* background-color: aquamarine; */
      }
      .skills h1{
        text-align: left;
        
      }
      .icons ul{
        padding: 0;

        display: flex;
        
      }
      .icons li{
        margin:-3px;
        list-style: none;
        width: 100px;
      }
      .skills .icons img{
        width: 80px;
        padding: 10px;
      }
  

      /*contact e section */
      #contactMe{
        
        margin-top: 15em;
        height: 550px;
        width: 500px;
      }

      #contactMe .contact form{
        margin: 0 auto;
        position:absolute;
        width: 500px;

        padding: 10px;
        margin-top: 1em;
        
      }

      #contactMe .contact{
        margin-top: 35em;
      }

      input[type="text"]{
        padding:10px;
        width: 15em;
        margin: 10px;
      }
      textarea{
        margin-top: 1em;
        width: 34.5em;
        padding:10px;
        margin-left: 10px;
      }

      #btn{
        margin-top: 2em;
        float: right;
        padding: 10px;
        width: 10em;
        color: white;
        border-radius: 5px;
        outline: none;
        border-style: none;
        background-color:  rgb(22, 120, 211);
        transition: background-color .3s linear;
      }
      h2{
        font-family: 'Antic Slab', serif;
      }
      #btn:hover{
        
        border-radius: 3px;
        color:rgb(255, 255, 255);
        cursor: pointer; 
        background-color:  rgb(22, 120, 211);
        box-shadow: 1px 2px 10px 1px rgb(121, 121, 121);
      }

      #down{
        display: flex;
        position: absolute;
        margin-top: 27em;
        margin-left: -1em;
        border-left:1px solid white ;
        text-orientation: upright;
      }
      .back{
        position: absolute;
        margin-top: 30em;
        font-family: 'Antic Slab', serif;
        
      }
      .back a{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
      }
      .rightside{
        float: right;
        /* background-color: rgb(13, 204, 204); */
        width: 400px;
        position: absolute;
        margin-left: 35em;
        border-left: 2px solid rgb(22, 22, 22);
        height: 500px;
      }

}



 

/* PHONE VIEW */

/* Media Query for Mobile Devices */
@media screen and (max-width: 360px)  {
    html{
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        overflow-x: hidden;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }
    body {
        overflow-x: hidden;
        overflow:unset;
        /* background-color: red; */
        padding:0;
        margin:0;
    }
    .wrapper{
        width: 200px;
        /* padding:20px;
        margin: 0 auto;
        width: 1000px; */
        background-color: whitesmoke;
        width: 400px;
        padding-bottom: 10px;
    
    }
    .container{
        width: 200px;
        /* background-color: rgb(6, 160, 83); */
        /* background-color: whitesmoke; */
        margin:10px;
        /* border-left: 1px solid rgb(51, 50, 50); */
    }
    .nav{
        width:300px;
        position: relative;
        /* background-color: pink; */
    }
    .nav ul li{
        
        display: inline-block;
        font-size: 10px;
    }
    .nav ul li a{
        text-align: left;
        font-weight: 600;
        font-family: 'Antic Slab', serif;
        font-family: 'Poiret One', cursive;
        margin:.5px;
        padding:10px;

        color: rgb(14, 12, 12);
        text-decoration: none;
        transition: background-color .3s linear;
    }
    .nav ul li a:hover{
        border-radius: 3px;
        color:rgb(255, 255, 255);
        cursor: pointer; 
        background-color:  rgb(22, 120, 211);
        /* border-bottom: 1px solid rgb(51, 50, 50);  */
        /* animation-name: fadein;
        animation-duration: 1s; */
    }
    #logo{
        width: 5em;
        margin-right: 2em;
        margin-top: -10em;
        display: none;
    }
    .image img{
        padding: 20px;
        width: 8em;
        margin-left:40px ;
        margin-right:40px ;
        margin-bottom:-5px ;
        /* background-color: cornflowerblue; */
    
    }
    .aboutAuth{
        color:rgb(24, 23, 23);
        font-family: 'Antic Slab', serif;
        margin: 0 auto;
        font-size: 20px;
        /* padding: 10px; */
        width:fit-content;
        /* background-color: aquamarine; */
    }

    h1{
        text-align: center;
        width: 255px;
        margin-bottom: 50px;
        margin-top: -10px;
        margin-left:-6px;
        margin-right:55px;
    }
    p{
        
        padding-top: 15em;
        font-family: 'Antic Slab', serif;
        font-size: 10px;
        font-weight: 200;
        text-align: justify;
        text-indent: 50px;
        background-color: rgb(221, 244, 255);
        padding:15px;
        padding-bottom: 5px;
        width: 200px;
        margin-top: -5em;
        
    
    }
    .email{
        margin-left:55px;
        margin-right:55px;
        color:white;
        margin-top: 10px;
        padding:10px;
        width: 9em;
        border-radius: 5px;
        outline: none;
        border-style: none;
        background-color:  rgb(11, 121, 224);
        transition: background-color .3s linear;
    }
    .email:hover{
        cursor: pointer;
        box-shadow:1px 5px 12px 4px rgba(0,0,0,0.5)
    }
}




